/* Responsive - Mobile View */
@media screen and (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f8f8f8;
  }
}