/* Default - All Sizes */
.about-containers {
  flex-wrap: wrap;
}

/* Responsive - Tablet and Below */
@media screen and (max-width: 768px) {
  #hamburger-nav {
    display: flex; /* Show hamburger icon on smaller screens */
    justify-content: flex-end;
    padding: 1rem;
  }

  #desktop-nav {
    display: none; /* Hide desktop nav on smaller screens */
  }
}

@keyframes floatDot {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
